<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="trade5ElliottBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="trade5ElliottBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <trade5ElliottBrowser.Properties.Settings>
            <setting name="dbConn" serializeAs="String">
                <value />
            </setting>
            <setting name="logPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ini" serializeAs="String">
                <value />
            </setting>
            <setting name="qsource" serializeAs="String">
                <value />
            </setting>
            <setting name="crawler" serializeAs="String">
                <value />
            </setting>
            <setting name="imgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="fltr_schedule" serializeAs="String">
                <value />
            </setting>
            <setting name="fltr_passive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fltr_wrap" serializeAs="String">
                <value />
            </setting>
            <setting name="task_feed_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form_loc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="czoom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultPeriods" serializeAs="String">
                <value />
            </setting>
            <setting name="symbolsPath" serializeAs="String">
                <value />
            </setting>
        </trade5ElliottBrowser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <trade5ElliottBrowser.Properties.Settings>
            <setting name="tm" serializeAs="String">
                <value>trade5 ElliottBrowser</value>
            </setting>
            <setting name="contact" serializeAs="String">
                <value>wnf@wave-n-fractals.com</value>
            </setting>
            <setting name="ev_int_limit" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="interests" serializeAs="String">
                <value>wnf_filters.xml</value>
            </setting>
            <setting name="urls_ini" serializeAs="String">
                <value>URLs_ini.xml</value>
            </setting>
            <setting name="keys_ini" serializeAs="String">
                <value>APIKeys_ini.xml</value>
            </setting>
            <setting name="fltr_rspath" serializeAs="String">
                <value>fltr_rs_{0}.xml</value>
            </setting>
            <setting name="crawl_target" serializeAs="String">
                <value>CrawlerTarget</value>
            </setting>
            <setting name="html_wrap" serializeAs="String">
                <value>WrapperHtml</value>
            </setting>
            <setting name="dbms" serializeAs="String">
                <value>0</value>
            </setting>
        </trade5ElliottBrowser.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
